@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

html {
  background: url('../assets/background.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: rgb(185, 182, 190);
  font-family: 'Comic', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: rgb(44, 51, 78);
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: grey;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 5px salmon red;
  cursor: pointer;
}

.start-button:hover {
  color: rgb(255, 47, 47);
  font-size: 18px;
  border-color: rgb(109, 47, 255);
  transform: rotate(5deg);
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: rgb(233, 81, 81);
}

.pad-red:hover,
.pad-red:focus {
  background-color: #ff451a;
  transform: rotate(-5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #1803d1;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: rgb(85, 231, 85);
}

.pad-green:hover,
.pad-green:focus {
  background-color: #8cc218;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #ea001f;
  transform: translateY(10px);
}

.pad-orange {
  border-bottom-right-radius: 200px;
  background-color: rgb(240, 166, 8);
}

.pad-orange:hover,
.pad-orange:focus {
  background-color: #ffb900;
  transform: rotate(5deg);
}

.pad-orange:active,
.pad-orange.activated {
  background-color: #f106ca;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: rgb(58, 58, 233);
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #139ddd;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #caf509;
  transform: translateY(10px);
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}